[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
passlib = "1.7.4"
pyjwt = "*"
dotenv = "*"
bcrypt = "4.0.1"
bleach = "*"
pytest = "*"
aiosmtplib = "*"
jinja2 = "*"
python-slugify = "*"
slowapi = "*"
asyncpg = "*"
httpx = "*"
uvicorn = "*"
fastapi = "*"
sqladmin = "*"

[dev-packages]

[requires]
python_version = "3.13"
